<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        body { background-color: #DBDBDB; }
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Search Results</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body style="padding-top: 120px;">
    <!-- Profile Section -->
    <% if (currentUser) { %>
    <div class="profile-section">
        <div class="profile-icon"><%= currentUser.username.charAt(0).toUpperCase() %></div>
        <div class="profile-info">
            <p class="profile-name"><%= currentUser.username %></p>
            <p class="profile-role">User (ID: <%= currentUser.username.length %>)</p>
        </div>
    </div>
    <% } %>

    <!-- Navigation Buttons -->
    <div class="nav-buttons">
        <a href="/home" class="nav-btn btn-home">RETURN TO HOME</a>
        <a href="/logout" class="nav-btn btn-logout">LOGOUT</a>
    </div>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-3">
        <a class="navbar-brand">Search Results</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/wanttogo">Want-to-Go List</a>
                </li>
            </ul>
            <form method="POST" action='/search' class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" name="Search" type="search" placeholder="Search"
                    aria-label="Search">
                <button class="btn btn-primary my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>

    <div class="container py-4">
        <% if (notFound) { %>
            <div class="hero-card p-4 text-center">
                <h4 class="hero-title mb-0" style="color: #706F6F;">Destination not Found</h4>
            </div>
        <% } else if (results && results.length > 0) { %>
            <div class="row g-3">
                <% results.forEach(function(dest) { %>
                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="hero-card">
                            <h5 class="hero-title mb-3"><%= dest.name %></h5>
                            <a href="<%= dest.path %>" class="btn btn-primary w-100">View Destination</a>
                        </div>
                    </div>
                <% }); %>
            </div>
        <% } else { %>
            <div class="hero-card p-4 text-center">
                <h4 class="hero-title mb-0" style="color: #706F6F;">No results found</h4>
            </div>
        <% } %>
    </div>
</body>
</html>
